<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Evaluate Article with Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="header_title">
                <h1>Evaluate Article with NLP</h1>
            </div>
            <div class="header_subtitle">
                <h3>Udacity FEND Project</h3>
            </div>
        </header>

        <main>
            <section class="intro">
                <h2>MeaningCloud Sentiment Analysis:</h2>
                <p>MeaningCloud will analyze the sentiment of the text content on a webpage</p>
                <p>Please enter a valid URL in the form below</p>
                <p>The results will be listed as follows:</p>
                <ul>
                    <li>Agreement: The various sentiment in the text is uniform or not</li>
                    <li>Subjectivity: The content is subjective or objective</li>
                    <li>Irony: The content is ironic or non-ironic</li>
                    <li>Confidence: The confidence level of the results - on a scale from 0-100</li>
                    <li>Polarity: Rates the content tone on a scale from positive to negative</li>
                </ul>
            </section>
            <section>
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Please Enter Valid URL">
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="polarity"></div>
                <div id="polarity_defined">
                    <p>Polarity Key:</p>
                    <ul>
                        <li>P+  : Strong Positive</li>
                        <li>P   : Positive</li>
                        <li>NEU : Neutral</li>
                        <li>N   : Negative</li>
                        <li>N+  : Strong Negative</li>
                        <li>NONE: Without Polarity</li>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <div class="nlp_provider">
                <h3>Powered by MeaningCloud Natural Language Processing</h3>
            </div>
            <div class="social">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-linkedin"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-pinterest"></a>
			</div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
