<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate Article with Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="header_title">
                <h1>Evaluate Article with NLP</h1>
            </div>
            <div class="header_subtitle">
                <h3>Udacity FEND Project</h3>
            </div>
        </header>

        <main>
            <section class="intro">
                <h2>MeaningCloud Sentiment Analysis:</h2>
                <p>MeaningCloud will analyze the sentiment of the text content on a webpage</p>
                <p>Please enter a valid URL in the form below</p>
                <p>The results will be listed as follows:</p>
                <ul>
                    <li>Agreement: The various sentiment in the text is uniform or not</li>
                    <li>Subjectivity: The content is subjective or objective</li>
                    <li>Irony: The content is ironic or non-ironic</li>
                    <li>Confidence: The confidence level of the results - on a scale from 0-100</li>
                    <li>Polarity: Rates the content tone on a scale from positive to negative</li>
                </ul>
            </section>
            <section>
                <section class="form">
                    <input id="url" type="text" name="input" value="" placeholder="Please Enter Valid URL">
                    <button id="submit" type="submit" value="submit" onclick="return Client.handleSubmit(event)">Submit</button>
                </section>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="polarity"></div>
                <div id="polarity_defined">
                    <p>Polarity Key:</p>
                    <ul>
                        <li>P+  : Strong Positive</li>
                        <li>P   : Positive</li>
                        <li>NEU : Neutral</li>
                        <li>N   : Negative</li>
                        <li>N+  : Strong Negative</li>
                        <li>NONE: Without Polarity</li>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <div class="nlp_provider">
                <h3>Powered by MeaningCloud Natural Language Processing</h3>
            </div>
        </footer>

    </body>
</html>
